<h1>Список студентов</h1>

<div *ngIf="!hidePopUp" class="popup">
    <div class="popup__content">
        <h3>Вы точно хотите удалить запись?</h3>
        <div class="popup__btns">
            <button (click)="deleteStudent()">Да</button>
            <button (click)="hidePopUp = true">Нет</button>
        </div>
    </div>
</div>

<div class="table">
    <table>
        <tr class="table__filters">
            <th></th>
            <th colspan="3">
                <div class="table__block-search">
                    <input #name type="text" placeholder="Поиск студента (напр. Иванов Иван)">
                    <button (click)="searchName = name.value">🔍</button>
                </div>
            </th>
            <th>
                <div  class="table__filter">
                    <div>
                        <label for="min-grade"> с </label>
                        <input (change)="minGradeForFiltr = number(minGrade.value)" #minGrade type="number" id="min-grade" value="0" min="0" max="5">
                    </div>
                    <div>
                        <label for="max-grade"> по </label>
                        <input (change)="maxGradeForFiltr = number(maxGrade.value)" #maxGrade type="number" id="max-grade" value="5" min="0" max="5">
                    </div>
                </div>
            </th>
            <th>
                <div class="table__filter">
                    <div>
                        <label for="min-date"> с </label>
                        <input (change)="minDateForFiltr = minDate.value" #minDate type="date" id="min-date">
                    </div>
                    <div>
                        <label for="max-date"> по </label>
                        <input (change)="maxDateForFiltr = maxDate.value" #maxDate type="date" id="max-date">
                    </div>
                </div>
            </th>
            <th>
                <div class="table__reset">
                    <button [btnReset]="resetFilters.bind(this)" (click)="minGrade.value = '0'; maxGrade.value='5';
                    name.value = ''; minDate.value = ''; maxDate.value = ''">Сброс</button>
                </div>
            </th>
        </tr>
        <tr>
            <th></th>
            <th><button (click)="sortSName()">Фамилия</button></th>
            <th><button (click)="sortName()">Имя</button></th>
            <th><button (click)="sortPatronymic()">Отчество</button></th>
            <th><button (click)="sortGrade()">Средний балл</button></th>
            <th><button (click)="sortDate()">Дата Рождения</button></th>
            <th></th>
        </tr>
        <tr #trInfo [class.background-yellow]="comparisonOfNames(item)" 
        [class.background-red]="isBadStudent(item) && highlightBadStudents"
        *ngFor="let item of students; let i = index">
            <ng-container *ngIf="gradeIsInRange(item.averageScore) && dateIsInRange(item.dateOfBirth) && item.isNecessary" >
                <td><button [btnEdit]="resetStudent" (click)="studentForChange=item; resetStudent=true; numberStudent=i"><p>✎</p></button></td>
                <td>{{item.secondName | name}}</td>
                <td>{{item.name | name}}</td>
                <td>{{item.patronymic | name}}</td>
                <td>{{item.averageScore | grade}}</td>
                <td>{{item.dateOfBirth | date}}</td>
                <td id="remove-student"><button (click)="hidePopUp = false; studentForDelete = item">×</button></td>
            </ng-container>
        </tr>
    </table>
    <div>
        <input type="checkbox" id="checkbox" checked [(ngModel)]="highlightBadStudents"/>
        <label for="checkbox"> - подсвечивать плохих студентов</label>
    </div>
    <app-form [numberStudent]="numberStudent" [person]="studentForChange" [editing]="resetStudent" [students]="students" 
    (feedbackEditing)="resetStudent=false" (addStudent)="changeList($event)"></app-form>
</div>
